{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
  <h2 class="display-4 text-center">
    Create A Flask Blog Account
  </h2>
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
              {{form.email.label}}
              {% if form.email.errors %}
              {{form.email(class='form-control is-invalid', required=False)}}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{error}}</span>
                {% endfor %}
              </div>
              {% else %}
              {{form.email(class='form-control', required=False)}}
              {% endif %}
            </div>
            <div class="form-group">
              {{form.username.label}}
              {% if form.username.errors %}
              {{form.username(class='form-control is-invalid', required=False)}}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                <span>{{error}}</span>
                {% endfor %}
              </div>
              {% else %}
              {{form.username(class='form-control', required=False)}}
              {% endif %}
            </div>
            <div class="form-group">
              {{form.password.label}}
              {% if form.password.errors %}
              {{form.password(class='form-control is-invalid', required=False)}}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{error}}</span>
                {% endfor %}
              </div>
              {% else %}
              {{form.password(class='form-control', required=False)}}
              {% endif %}
            </div>
            <div class="form-group">
              {{form.confirm_password.label}}
              {% if form.confirm_password.errors %}
              {{form.confirm_password(class='form-control is-invalid', required=False)}}
              <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                <span>{{error}}</span>
                {% endfor %}
              </div>
              {% else %}
              {{form.confirm_password(class='form-control', required=False)}}
              {% endif %}
            </div>
            <div class="text-center">
              {{form.submit(class='btn btn-primary')}}
            </div>
            <div class="text-center mt-4">
              <p>Already have an account? <span><a href="{{url_for('users.login')}}" class="btn btn-sm btn-info">Login</a></span></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}