.blog-img-wrapper {
  overflow: hidden;
  width: 100%;
  height: 150px;
}

.blog-img {
  width: 100%;
  transform: scale(1.2, 1.2);
}

.img-thumb-small {
  width: 30px
}

.link-title,
.link-username {
  text-decoration: none;
  color: #212529;
}
